<h3><%= @player.name %></h3>
<p>Tag: <%= @player.tag %></p>
<p>Town Hall Level: <%= @player.town_hall_level %></p>
<p>Level: <%= @player.level %></p>
<p>War Preference: <%= @player.war_preference %></p>
<p>Builder Hall Level: <%= @player.builder_hall_level %></p>

